<ng-card>
    <div class="grid-advertising-options">
        <span></span>
        <button-new (btnClick)="redirectTo()"></button-new>
    </div>
    <table ngGrid>
        <thead>
            <tr>
                <th>N°</th>
                <th>NOMBRE</th>
                <th>FECHA DE CREACIÓN</th>
                <th>FECHA INICIO DE ENVÍO</th>
                <th>FECHA FIN DE ENVÍO</th>
                <th>ESTADO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>PUBLICIDAD MES ENERO</td>
                <td>2021-06-15 14:58:35</td>
                <td>2021-06-15 14:58:40</td>
                <td>2021-07-15 01:25:14</td>
                <td>COMPLETADO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>PUBLICIDAD MES FEBRERO</td>
                <td>2021-06-15 14:58:35</td>
                <td>2021-06-15 14:58:40</td>
                <td>-</td>
                <td>PAUSADO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>   
            <tr>
                <td>3</td>
                <td>PUBLICIDAD MES MARZO</td>
                <td>2021-06-15 14:58:35</td>
                <td>-</td>
                <td>-</td>
                <td>CREADO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>PUBLICIDAD MES ABRIL</td>
                <td>2021-06-15 14:58:35</td>
                <td>2021-06-15 14:58:40</td>
                <td>-</td>
                <td>EN PROGRESO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>PUBLICIDAD MES ENERO</td>
                <td>2021-06-15 14:58:35</td>
                <td>2021-06-15 14:58:40</td>
                <td>2021-07-15 01:25:14</td>
                <td>COMPLETADO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>PUBLICIDAD MES FEBRERO</td>
                <td>2021-06-15 14:58:35</td>
                <td>2021-06-15 14:58:40</td>
                <td>-</td>
                <td>PAUSADO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>   
            <tr>
                <td>7</td>
                <td>PUBLICIDAD MES MARZO</td>
                <td>2021-06-15 14:58:35</td>
                <td>-</td>
                <td>-</td>
                <td>CREADO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>PUBLICIDAD MES ABRIL</td>
                <td>2021-06-15 14:58:35</td>
                <td>2021-06-15 14:58:40</td>
                <td>-</td>
                <td>EN PROGRESO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>PUBLICIDAD MES MARZO</td>
                <td>2021-06-15 14:58:35</td>
                <td>-</td>
                <td>-</td>
                <td>CREADO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>PUBLICIDAD MES ABRIL</td>
                <td>2021-06-15 14:58:35</td>
                <td>2021-06-15 14:58:40</td>
                <td>-</td>
                <td>EN PROGRESO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>              
        </tbody>
    </table>
</ng-card>