@import '../../../../assets/styles/variables';

.#{$app-prefix}-templates {
    display: grid;
    gap: 1em;
    margin-bottom: 1em;

    .row-card {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
    }

    .row-buttons {
        display: flex;
        flex-direction: column;

        .buttons {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (min-width: $resolution-35em) {
    .#{$app-prefix}-segments {
        .row-card {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }
        
        .row-buttons {
            flex-direction: row;
            justify-content: space-between;
    
            .buttons {
                display: grid;
                grid-template-columns: auto;
                gap: 1em;
            }
        }
    }
}