@import '../../../../../assets/styles/variables';

.#{$app-prefix}-general-data {
    .info {
        display: flex;
        padding: 0.2em 0;

        .label {
            display: flex;
            flex: 2;

            span {
                align-items: center;
                display: flex;
                line-height: 1;
                margin: 0 0.2em;

                em {
                    color: var(--panel-summary-data-general-icon-color);
                    transform: scale(0.5);
                }
            }
        }

        .value {
            align-items: center;
            display: flex;
            flex: 1;
            justify-content: center;
            text-align: center;
        }
    }
}