<ng-card title="Datos de configuración">
    <div class="{{APP_PREFIX}}-general-data">
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Intervalo de tiempo entre mensajes</span>
            </div>
            <div class="value">
                <span>4s</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Tiempo estimado para envio de publicidad</span>
            </div>
            <div class="value">
                <span>25h</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Fecha de creación</span>
            </div>
            <div class="value">
                <span>2021-06-13</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Plantilla</span>
            </div>
            <div class="value">
                <span>Campaña de Enero</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Número de Teléfono</span>
            </div>
            <div class="value">
                <span>+51985856164</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Modelo</span>
            </div>
            <div class="value">
                <span>Motorola Lux</span>
            </div>
        </div>
    </div>
</ng-card>