<ng-card title="Filtro de publicidad">
    <div class="{{APP_PREFIX}}-filters-advertising">
        <div class="inputs">
            <ng-input label="NOMBRE"></ng-input>
            <ng-input label="ESTADO"></ng-input>
            <ng-input label="FECHA CREACIÓN DESDE"></ng-input>
            <ng-input label="FECHA CREACIÓN HASTA"></ng-input>
        </div>
        <div class="options">
            <span></span>
            <ng-button type="normal">
                <span>Buscar</span>
            </ng-button>
        </div>
    </div>    
</ng-card>