@import '../../../../../../assets/styles/variables';

.#{$app-prefix}-filters-advertising {
    .inputs {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5em;
        padding: 0.5em 0;
    }
}

@media(min-width: $resolution-35em) {
    .#{$app-prefix}-filters-advertising {
        .inputs {
            grid-template-columns: repeat(4, 1fr);
        }
        .options {
            display: flex;
            justify-content: space-between;
        }
    }
}