<ng-card title="Cantidad de envío de mensajes según estado">
    <div class="{{APP_PREFIX}}-quantity-send">
        <div class="info">
            <div class="options">
                <div class="status">
                    <icon-circle>
                        <em class="fa-solid fa-envelope-circle-check fa-2x"></em> 
                    </icon-circle>
                    <span>0</span>
                    <span>ENVIADOS</span>
                </div>
                <div class="status">
                    <icon-circle>
                        <em class="fa-sharp fa-solid fa-envelope fa-2x"></em>
                    </icon-circle>
                    <span>0</span>
                    <span>FALLIDOS</span>
                </div>
                <div class="status">
                    <icon-circle>
                        <i class="fa-solid fa-envelopes-bulk fa-2x"></i>
                    </icon-circle>
                    <span>850</span>
                    <span>NO ENVIADOS</span>
                </div>
            </div>
        </div>
    </div>
</ng-card>