<ng-card>
    <table ngGrid>
        <thead>
            <tr>
                <th>N°</th>
                <th>TELÉFONO</th>
                <th>NOMBRE</th>
                <th>CORREO</th>
                <th>DIRECCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>+51963254123</td>
                <td>FIORELLA YAHAIRA GOMEZ MONTEAGUDO</td>
                <td>FMONTEAGUDO@GMAIL.COM</td>
                <td>AV PERU 123</td>
            </tr>
            <tr>
                <td>2</td>
                <td>+51987531596</td>
                <td>SHINEY SUSAN DELGADO MOZTAJO</td>
                <td>SDELGADO@GMAIL.COM</td>
                <td>AV BRASIL 123</td>
            </tr>   
            <tr>
                <td>3</td>
                <td>+519631475214</td>
                <td>MARYORI NICOL AUBERT LLERENA</td>
                <td>MAUBERTH@GMAIL.COM</td>
                <td>AV GARCILAZO DE LA VEGA 123</td>
            </tr>
            <tr>
                <td>4</td>
                <td>+51974174136</td>
                <td>MARGARITA CAÑAHIRE</td>
                <td>MCAÑAHUIRE@GMAIL.COM</td>
                <td>AV NICOLAS DE PIEROLA 456</td>
            </tr>
            <tr>
                <td>5</td>
                <td>+51974174136</td>
                <td>ANDY LEONARD FERNANDEZ DELGADO</td>
                <td>AFERNANDEZ@GMAIL.COM</td>
                <td>AV COLUMBIA 48</td>
            </tr>
            <tr>
                <td>6</td>
                <td>+51974159325</td>
                <td>LIZETTE PEREIRA TORRES</td>
                <td>LPEREIRA@GMAIL.COM</td>
                <td>AV PUCALLPA 148</td>
            </tr>   
            <tr>
                <td>7</td>
                <td>+51954732236</td>
                <td>DIANA ALVAREZ QUISPE</td>
                <td>DALVAREZ@GMAIL.COM</td>
                <td>AV DANIEL ALCIDES CARRION 112</td>
            </tr>
            <tr>
                <td>8</td>
                <td>+51941278936</td>
                <td>ESTEPHANI GAMARRA QUISPE</td>
                <td>EGAMARRA@GMAIL.COM</td>
                <td>AV ORION 978</td>
            </tr>
            <tr>
                <td>9</td>
                <td>+51941278936</td>
                <td>JENNIFER MARICRUZ RODRIGUEZ CALDERON</td>
                <td>JRODRIGUEZ@GMAIL.COM</td>
                <td>AV SIMON BOLIVAR 451</td>
            </tr>
            <tr>
                <td>10</td>
                <td>+51941278936</td>
                <td>MARIELENA DIAZ CORNEJO</td>
                <td>MDIAZ@GMAIL.COM</td>
                <td>AV HUASCAR 852</td>
            </tr>              
        </tbody>
    </table>
</ng-card>