<ng-card title="Datos generales (Campaña Enero)">
    <div class="{{APP_PREFIX}}-general-data">
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Intervalo de tiempo entre mensajes</span>
            </div>
            <div class="value">
                <span>4s</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Tiempo total transcurrido desde envio</span>
            </div>
            <div class="value">
                <span>-</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Fecha de creación</span>
            </div>
            <div class="value">
                <span>-</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Fecha de inicio de envio</span>
            </div>
            <div class="value">
                <span>2021-10-15 14:25:36</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Fecha de creación</span>
            </div>
            <div class="value">
                <span>-</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Fecha fin de envio</span>
            </div>
            <div class="value">
                <span>-</span>
            </div>
        </div>
        <div class="info">
            <div class="label">
                <span><em class="fa-solid fa-circle"></em></span>
                <span>Número de teléfono</span>
            </div>
            <div class="value">
                <span>+51985856164</span>
            </div>
        </div>
    </div>
</ng-card>