<ng-card title="Porcentaje de envío de mensaje según estado">
    <div class="{{APP_PREFIX}}-percentage-send">
        <div class="info">
            <progress-bar-info [current]="+80" leyend="% de publicidad con envío exitoso"></progress-bar-info>
            <progress-bar-info [current]="+50" leyend="% de publicidad con envío fallido"></progress-bar-info>
            <progress-bar-info [current]="+100" leyend="% de publicidad no enviado"></progress-bar-info>
        </div>
    </div>
</ng-card>