<ng-card>
    <div class="grid-templates-options">
        <span></span>
        <button-new (btnClick)="redirectTo()"></button-new>
    </div>
    <table ngGrid>
        <thead>
            <tr>
                <th>N°</th>
                <th>NOMBRE</th>
                <th>TIPO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>PLANTILLA MES ENERO</td>
                <td>IMAGEN</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>PLANTILLA MES FEBRERO</td>
                <td>TEXTO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>   
            <tr>
                <td>3</td>
                <td>PLANTILLA MES MARZO</td>
                <td>VIDEO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>PLANTILLA MES ABRIL</td>
                <td>AUDIO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>PLANTILLA MES MAYO</td>
                <td>IMAGEN</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>PLANTILLA MES JUNIO</td>
                <td>TEXTO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>   
            <tr>
                <td>7</td>
                <td>PLANTILLA MES JULIO</td>
                <td>VIDEO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>PUBLICIDAD MES AGOSTO</td>
                <td>AUDIO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>PUBLICIDAD MES SEPTIEMBRE</td>
                <td>TEXTO</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>
            <tr>
                <td>10</td>
                <td>PLANTILLA MES OCTUBRE</td>
                <td>IMAGEN</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-pencil"></em></a>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fa-solid fa-eye"></em></a>
                    <a href="javascript:void(0)"  class="icon-remove"><em class="fa-solid fa-trash"></em></a>
                </td>
            </tr>              
        </tbody>
    </table>
</ng-card>