<ng-card>
    <table ngGrid>
        <thead>
            <tr>
                <th>N°</th>
                <th>TELÉFONO</th>
                <th>NOMBRE</th>
                <th>CORREO</th>
                <th>DIRECCIÓN</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>+519693311272</td>
                <td>KAREN ANGELA APAZA RIVERA</td>
                <td>KAPAZARIVERA@GMAIL.COM</td>
                <td>AV PIEROLA 365</td>
                <td>
                    <a href="javascript:void(0)" class="icon-normal"><em class="fab fa-whatsapp"></em></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>+519658741236</td>
                <td>JOSE CARLOS QUISPE ROQUE</td>
                <td>JQUISPEROQUE@GMAIL.COM</td>
                <td>AV TRIUNFO 378</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fab fa-whatsapp"></em></a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>+51985471254</td>
                <td>JOSE ALONSO ARANA PONCE</td>
                <td>JARANAPONCE@GMAIL.COM</td>
                <td>AV GARCILAZO 236</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fab fa-whatsapp"></em></a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>+51984125364</td>
                <td>GABRIELA LINARES QUISPE</td>
                <td>GLINARESQUISPE@GMAIL.COM</td>
                <td>AV RAMOS 695</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fab fa-whatsapp"></em></a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>+51985471256</td>
                <td>PATRICIA ROMAN LIMA</td>
                <td>PROMANLINA@GMAIL.COM</td>
                <td>AV UGARTE 158</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fab fa-whatsapp"></em></a>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>+51984578963</td>
                <td>FIORELLA GOMEZ MONTEAGUDO</td>
                <td>FGOMEZ@GMAIL.COM</td>
                <td>AV GARCILAZO DE LA VEGA 325</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fab fa-whatsapp"></em></a>
                </td>
            </tr>
            <tr>
                <td>7</td>
                <td>+51984147856</td>
                <td>SHINEY SUSAN DELGADO MOZTAJO</td>
                <td>SDELGADO@GMAIL.COM</td>
                <td>AV TRIUNFO 125</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fab fa-whatsapp"></em></a>
                </td>
            </tr>
            <tr>
                <td>8</td>
                <td>+51981485236</td>
                <td>SANDRA DIAZ CHOQUE</td>
                <td>SDIAZ@GMAIL.COM</td>
                <td>AV JORGE CHAVEZ 258</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fab fa-whatsapp"></em></a>
                </td>
            </tr>   
            <tr>
                <td>9</td>
                <td>+51989854123</td>
                <td>FIORELLA GAMARRA CHAHUA</td>
                <td>FGAMARRA@GMAIL.COM</td>
                <td>AV JORGE BASADRE 147</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fab fa-whatsapp"></em></a>
                </td>
            </tr>    
            <tr>
                <td>10</td>
                <td>+51989254789</td>
                <td>REYNA GABRIELLA FERNANDEZ ESPINOZA</td>
                <td>RFERNANDEZ@GMAIL.COM</td>
                <td>AV NICOLAS PIEROLA 1258</td>
                <td>
                    <a href="javascript:void(0)"  class="icon-normal"><em class="fab fa-whatsapp"></em></a>
                </td>
            </tr>                
        </tbody>
    </table>
</ng-card>