<ng-card title="Porcentaje del total de clientes">
    <div class="{{APP_PREFIX}}-percentage-clients">
        <div class="chart-leyend">
            <div class="item-leyend">
                <div class="label">
                    <span>Total</span>
                </div>
                <span>1000</span>
            </div>
            <div class="item-leyend">
                <div class="label">
                    <span>Segmento</span>
                </div>                
                <span>800</span>
            </div>
        </div>
        <div class="chart-canvas">
            <canvas id="myCanvas"></canvas>
        </div>
        <div class="chart-description">
            <span>La publicidad será enviada al 80% de sus clientes</span>
        </div>
    </div>
</ng-card>