$app-prefix: mf-advertising;

$resolution-35em: 35em;

$white: #fff;

$pix-1: 1px;
$pix-2: 2px;
$pix-3: 3px;
$pix-4: 4px;
$pix-5: 5px;
$pix-6: 6px;
$pix-8: 8px;
$pix-10: 10px;
$pix-12: 12px;
$pix-15: 15px;
$pix-17: 17px;
$pix-19: 19px;
$pix-20: 20px;
$pix-30: 30px;
$pix-35: 35px;
$pix-38: 38px;
$pix-40: 40px;
$pix-50: 50px;
$pix-75: 75px;
$pix-100: 100px;
$pix-120: 120px;

$per-10: 10%;
$per-50: 50%;
$per-90: 90%;
$per-100: 100%;